{% load static %}
{% block main %}
<div class="visit-tailor-area fix">

<div class="tailor-offers" style="background-image: url('../static/assets/img/mission/ourmission.png');"></div>

<div class="tailor-details">
<span>Our Mission</span>
<h2>Our main goal is to impact schools and communities</h2>
<p>[Description]</p>
<p class="pera-bottom">[More Description]</p>
<div class="footer-tittles">
<p>CEO </p>
<h2>Daniel Mwesigwa</h2>
</div>
</div>
</div>


<div class="service-area section-padding30">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-11">
<div class="single-cat text-center mb-30">
<div class="cat-icon">
<img src="{% static 'assets/img/services/education.JPG' %}" alt="">
</div>
<div class="cat-cap">
<h5><a href="#">Education</a></h5>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-11">
<div class="single-cat active text-center mb-30">
<div class="cat-icon">
<img src="{% static 'assets/img/services/entre.JPG' %}" alt="">
</div>
<div class="cat-cap">
<h5><a href="#">Entrepreneurship</a></h5>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-11">
<div class="single-cat text-center mb-30">
<div class="cat-icon">
<img src="{% static 'assets/img/services/advocacy.JPG' %}" alt="">
</div>
<div class="cat-cap">
<h5><a href="#">Advocacy</a></h5>
</div>
</div>
</div>
</div>
</div>
</div>





    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" >

        <div class="section-tittle text-center mb-80">
         <h2>Our Partners</h2>
        </div>

        <div class="row no-gutters clients-wrap clearfix" >

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/partners/edify.png' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/partners/ministryeducation.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/partners/localgov.jpeg' %}" class="img-fluid" alt="">
            </div>
          </div>

         <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="{% static 'assets/img/partners/itau.png' %}" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->





<section class="support-company-area fix pt-10">
<div class="support-wrapper align-items-center">
<div class="left-content">

<div class="section-tittle section-tittle2 mb-30">
<span>Why You Should join us</span>
<h2>[A Reason to Join]</h2>
</div>
<div class="support-caption">
<p class="pera-top">[Further Description].</p>
<a href="#" class="border-btn">Join Us Now</a>
</div>
</div>
<div class="right-content">

<div class="right-img">
<img src="{% static 'assets/img/services/whyjoinus.png' %}" alt="">
</div>
<div class="support-img-cap text-center d-flex">
<div class="single-one">
<span>950</span>
<p>Schools Enrolled</p>
</div>
<div class="single-two">
<span>230</span>
<p>Volunteers National wide</p>
</div>
</div>
</div>
</div>
</section>



<div class="our-cases-area section-padding30">
<div class="container">
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-10 ">

<div class="section-tittle text-center mb-80">
<h2>Over 7000 Districts have been impacted</h2>
<p class="pl-20 pr-20">Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-cases mb-40">
<div class="cases-img">
<img src="{% static 'assets/img/placeholder/placeholder1.png' %}" alt="">
</div>
<div class="cases-caption">
<h3><a href="#">Districts Reached</a></h3>
<p>Interdum nulla, ut commodo diam libero vitae
erat. Aenean faucibus nibh et justo cursus
rutrum.</p>

<div class="single-skill mb-15">
<div class="bar-progress">
<div id="bar1" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="70"></span>
</div>
</div>
</div>

<div class="prices">
<p><span>47,589 of 74,574</span></p>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-cases mb-40">
<div class="cases-img">
<img src="{% static 'assets/img/placeholder/placeholder1.png' %}" alt="">
</div>
<div class="cases-caption">
<h3><a href="#">Resources Given Out</a></h3>
<p>Interdum nulla, ut commodo diam libero vitae
erat. Aenean faucibus nibh et justo cursus
rutrum.</p>

<div class="single-skill mb-15">
<div class="bar-progress">
<div id="bar2" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="25"></span>
</div>
</div>
</div>
<div class="prices">
<p><span>47,589 of 74,574</span></p>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6">
<div class="single-cases">
<div class="cases-img">
<img src="{% static 'assets/img/placeholder/placeholder1.png' %}" alt="">
</div>
<div class="cases-caption">
<h3><a href="#">Children Impacted</a></h3>
<p>Interdum nulla, ut commodo diam libero vitae
erat. Aenean faucibus nibh et justo cursus
rutrum.</p>

<div class="single-skill mb-15">
<div class="bar-progress">
<div id="bar3" class="barfiller">
<div class="tipWrap">
<span class="tip"></span>
</div>
<span class="fill" data-percentage="50"></span>
</div>
</div>
</div>
<div class="prices">
 <p><span>47,589 of 74,574</span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<section class="home-blog-area pb-padding">
<div class="container">

<div class="row justify-content-center">
<div class="col-xl-8 col-lg-9 col-md-11">
<div class="section-tittle text-center mb-90">
<h2>Our Latest Engagements</h2>
<p>(Description) -> Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="home-blog-single mb-30">
<div class="blog-img-cap">
<div class="blog-img">
<img src="{% static 'assets/img/placeholder/placeholder2.png' %}" alt="">
</div>
<div class="blog-cap">
<h3><a href="blog_details.html">Training at......</a></h3>
<p>Description</p>
</div>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="home-blog-single mb-30">
<div class="blog-img-cap">
<div class="blog-img">
<img src="{% static 'assets/img/placeholder/placeholder2.png' %}" alt="">
</div>
<div class="blog-cap">
<h3><a href="blog_details.html">Activity 2</a></h3>
<p>Description</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}