{% load static %}
{% block main %}
{% load my_extras %}

<!-- ======= Intro ======= -->
<section id="intro" class="intro" style="padding-top:100px;">
      <div class=" d-flex align-items-center justify-content-center" style="flex-direction:column;">
          <p style="width:80vw;" >{{intro.intro}}</p>
          <p style="font-style:italic;font-weight:bold;" class="align-items-end"> ~ {{ intro.author }}</p>
      </div>
    <div class="divider div-transparent div-dot"></div>
</section><!-- End Features Section -->


<div class="service-area section-padding30">
    <div class="container">
               <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 ">
                    <div class="section-tittle text-center mb-80">
                        <h2>{{ heads|headers:"project" }}</h2>
                        <p class="pl-20 pr-20">{{ heads|sub_headers:"project" }}</p>
                    </div>
                </div>
            </div>
        <div class="row">
            {% for p in projects %}
                <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="{{ p.image.url }}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">{{p.name}}</a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="divider div-transparent div-dot"></div>
</div>





    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" >

        <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 ">
                    <div class="section-tittle text-center mb-80">
                        <h2>{{ heads|headers:"partners" }}</h2>
                        <p class="pl-20 pr-20">{{ heads|sub_headers:"partners" }}</p>
                    </div>
                </div>
            </div>

        <div class="row no-gutters clients-wrap clearfix" >

            {% for partner in partners %}
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="client-logo">
                      <img src="{{partner.image.url}}" class="img-fluid" alt="">
                    </div>
                </div>
            {% endfor %}

        </div>

      </div>
        <div class="divider div-transparent div-dot"></div>
    </section><!-- End Our Clients Section -->





{% comment %}<section class="support-company-area fix pt-10">
<div class="support-wrapper align-items-center">
<div class="left-content">

<div class="section-tittle section-tittle2 mb-30">
<span>Why You Should join us</span>
<h2>[A Reason to Join]</h2>
</div>
<div class="support-caption">
<p class="pera-top">[Further Description].</p>
<a href="#" class="border-btn">Join Us Now</a>
</div>
</div>
<div class="right-content">

<div class="right-img">
<img src="{% static 'assets/img/services/whyjoinus.png' %}" alt="">
</div>
<div class="support-img-cap text-center d-flex">
<div class="single-one">
<span>950</span>
<p>Schools Enrolled</p>
</div>
<div class="single-two">
<span>230</span>
<p>Volunteers National wide</p>
</div>
</div>
</div>
</div>
</section>{% endcomment %}



    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 ">
                    <div class="section-tittle text-center mb-80">
                        <h2>{{ heads|headers:"impact" }}</h2>
                        <p class="pl-20 pr-20">{{ heads|sub_headers:"impact" }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for impact in impacts %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="{{ impact.card.image.url }}" alt="">
                        </div>
                    <div class="cases-caption">
                        <h3><a href="#">{{ impact.card.title }}</a></h3>
                        <p>{{ impact.card.body}}</p>
                        <div class="single-skill mb-15">
                            <div class="bar-progress">
                                <div id="bar1" class="barfiller">
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                    <span class="fill" data-percentage="{{impact.percent}}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="prices">
                            <p><span>{{ impact.impacted }} of {{ impact.total }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% comment %}<div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cases mb-40">
            <div class="cases-img">
            <img src="{% static 'assets/img/placeholder/placeholder1.png' %}" alt="">
            </div>
            <div class="cases-caption">
            <h3><a href="#">Resources Given Out</a></h3>
            <p>Interdum nulla, ut commodo diam libero vitae
            erat. Aenean faucibus nibh et justo cursus
            rutrum.</p>

            <div class="single-skill mb-15">
            <div class="bar-progress">
            <div id="bar2" class="barfiller">
            <div class="tipWrap">
            <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="25"></span>
            </div>
            </div>
            </div>
            <div class="prices">
            <p><span>47,589 of 74,574</span></p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-cases">
            <div class="cases-img">
            <img src="{% static 'assets/img/placeholder/placeholder1.png' %}" alt="">
            </div>
            <div class="cases-caption">
            <h3><a href="#">Children Impacted</a></h3>
            <p>Interdum nulla, ut commodo diam libero vitae
            erat. Aenean faucibus nibh et justo cursus
            rutrum.</p>

            <div class="single-skill mb-15">
            <div class="bar-progress">
            <div id="bar3" class="barfiller">
            <div class="tipWrap">
            <span class="tip"></span>
            </div>
            <span class="fill" data-percentage="50"></span>
            </div>
            </div>
            </div>
            <div class="prices">
             <p><span>47,589 of 74,574</span></p>
            </div>
            </div>
            </div>
            </div>{% endcomment %}
        </div>
    </div>
    <div class="divider div-transparent div-dot"></div>
</div>

<section class="home-blog-area pb-padding">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
                <div class="section-tittle text-center mb-90">
                    <h2>{{ heads|headers:"engagement" }}</h2>
                    <p>{{ heads|sub_headers:"engagement" }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for eng in engags %}
                <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img align-items-stretch position-relative video-box" style="background-image: url('{{ eng.image.url }}');" data-aos="fade-right">
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn mb-4"></a>
                        </div>
                    <div class="blog-cap">
                        <h3><a href="">{{ eng.title }}</a></h3>
                        <p>{{eng.description}}</p>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
</section>
{% endblock %}