{% load static %}
{% block slider%}
    <div class="slider-area">
        <div class="slider-active dot-style">

            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center" style="background-image: url('../static/assets/img/slider/training00.png');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".2s">Training</h1>
                                <P data-animation="fadeInUp" data-delay=".4s">Train up a child in a way  s/he<br> should go, when s/he is grown<br> s/he will  not depart from it </P>

                                <div class="hero__btn">
                                    <a href="" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Support this cause</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center" style="background-image: url('../static/assets/img/slider/descipleship.png');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".2s">Discipleship</h1>
                                <P data-animation="fadeInUp" data-delay=".4s">Mentoring Future God Fearing<br> Leaders.</P>

                                <div class="hero__btn">
                                    <a href="" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center" style="background-image: url('../static/assets/img/slider/missions.png');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".2s">Missions</h1>
                                <P data-animation="fadeInUp" data-delay=".4s">Reaching Out To Communities<br> To Instill Christian Values </P>

                                <div class="hero__btn">
                                    <a href="" class="hero-btn mb-10" data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-area d-flex align-items-center justify-content-center">
            <div class="video-wrap position-relative">
                <div class="video-icon">
                    <a class="popup-video btn-icon" href="https://www.youtube.com/channel/UCAm5cATGDS_gKJqfQ_iOHGg"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}