{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    .statement{
        margin-bottom:10%;
    }
</style>

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-8 mt-5 align-items-stretch" style="padding:8vw">
                {% for pray in prayers %}
                    <div class="statement">
                    <h4>{{ pray.title }}</h4>
                    <p>{{ pray.description }}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <img src="{% static 'assets/img/mission.png'%}" class="img-fluid" style="padding:2vw">
            </div>
        </div>

    </div>
{% endblock %}