{% extends 'index.html' %}
{% block content %}

<style>
    /* line 58, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group {
  width: 100%;
  border: 1px solid #47b2e4;
  border-radius: 7px;
  padding: 5px 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* line 64, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .input-group-text {
  font-size: 16px;
  background: transparent;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 71, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
  border-right: 0;
  padding: 0 0 0 25px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

/* line 82, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control::placeholder {
  font-size: 16px;
  color: #7A7B7C;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 88, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .input_field .input-group .form-control:focus {
  outline: none;
  box-shadow: none;
}

/* line 96, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 18px 27px;
  border-radius: 7px;
  border: 1px solid #47b2e4;
  display: block;
  overflow: hidden;
}

@media (max-width: 767px) {
  /* line 96, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
  .make_donation_area .donation_form .single_amount .fixed_donat {
    display: block !important;
    margin-top: 15px;
  }
}

/* line 108, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat .select_prise h4 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #7A7B7C;
  margin-bottom: 0;
}

/* line 116, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donation_form .single_amount .fixed_donat .single_doonate label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7A7B7C;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  /* line 115, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
  .make_donation_area .donation_form .single_amount .fixed_donat .single_doonate {
    width: 33.33%;
    float: left;
    margin-top: 15px;
  }
}

/* line 133, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_donation.scss */
.make_donation_area .donate_now_btn {
  margin-top: 50px;
}

.section_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 52, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_btn.scss */
.boxed-btn4 {
  color: #fff;
  display: inline-block;
  padding: 13px 44px;
  font-size: 16px;
  font-weight: 600;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #47b2e4;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
}

/* line 67, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_btn.scss */
.boxed-btn4:hover {
  background: #fff;
  color: #47b2e4;
  border: 1px solid #47b2e4;
}

/* line 72, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_btn.scss */
.boxed-btn4:focus {
  outline: none;
}

/* line 75, ../../Arafath/CL/january 2020/242. charity/HTML/scss/_btn.scss */
.boxed-btn4.large-width {
  width: 220px;
}
</style>

<div data-scroll-index='1' class="make_donation_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-55">
                        <h2>Make a Donation</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form action="#" class="donation_form">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="single_amount">
                                    <div class="input_field">
                                        <div class="input-group">
                                            <div class="input-group-prepend d-flex" style="align-items: center;padding-right:10px;">
                                              <span class="input-group-text" id="basic-addon1">$</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="40,200" aria-label="Username" aria-describedby="basic-addon1">
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="single_amount">
                                   <div class="fixed_donat d-flex align-items-center justify-content-between">
                                       <div class="select_prise">
                                           <h4>Select Amount:</h4>
                                       </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="blns_1" name="radio-group" checked>
                                            <label for="blns_1">10</label>
                                        </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="blns_2" name="radio-group" checked>
                                            <label for="blns_2">30</label>
                                        </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="Other" name="radio-group" checked>
                                            <label for="Other">Other</label>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="donate_now_btn text-center">
                        <a href="#" class="boxed-btn4">Donate Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}