{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container clients" style="margin-top:7%;">
    <div class="col-xl-10 col-lg-10">
        <h4>Partners</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in metus sed sapien ultricies pretium a at justo. Maecenas luctus velit et auctor maximus.</p>
    </div>
    <div class="divider div-transparent div-dot"></div>

            <div class="row no-gutters clients-wrap clearfix" >

            {% for partner in partners %}
                <div class="col-lg-4 col-md-5 col-6">
                    <div class="client-logo">
                      <img src="{{partner.image.url}}" class="img-fluid" alt="">
                    </div>
                </div>
            {% endfor %}

        </div>


</div>
{% endblock %}