.main{
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content: center;
}

.login{
    height:auto;
    width:50vw;
}

.login .logo{
    width:100px;
    height:100px;
}

.form-outline{
    margin:20px;
}